@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
.rotate-item{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
align-items: center;
left: -6rem;
position: absolute;
top: 13rem;

transform: rotate(-90deg);
}